body {	
	background: #101010;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	justify-content: center;
}

[contenteditable] {
  	outline: 0px solid transparent;
}

.container {	
	position: relative;
	height: 100vh;
	width: 100vw;
	min-height: 400px;
	min-width: 280px;
	max-width: 1200px;
	overflow-x: hidden;
	overflow-y: hidden;
	display: flex;
	flex-direction: column;
}

.header {
	height: auto;
	width: 100%;
	background: #3855a7;
	border-bottom: 3px solid black;
	display: flex;
	align-items: center;
}

.photo {
	max-height: 68px;
	min-height: 68px;
	min-width: 68px;
	max-width: 68px;
	padding: 7px;
	padding-left: 12px;
	margin-right: 6.4px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photo img {
	height: 49px;
	width: 100%;
	border: 1.5px solid white;
	border-radius: 100%;
	object-fit: cover;
}

.photo:hover {
	cursor: pointer;
}

.data {
	height: 100%;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	row-gap: 4px;
	padding: 8px 0px;
}

.name {
	font-size: 18px;
}

.aboutme {
	font-size: 15px;
	color: lightgrey;
}

.channel {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 9.5px;
	overflow-y: auto;
	overflow-x: hidden;
	padding-top: 9.5px;
	padding-bottom: 9.5px;
	background: #202020;
}

.channel::-webkit-scrollbar {
	width: 8px;
}

.channel::-webkit-scrollbar-track {
	background: #202020;
	border-radius: 4px;
}

.channel::-webkit-scrollbar-thumb {
	background: #606060;
	border-radius: 4px;
}

.channel::-webkit-scrollbar-thumb:hover {
	background: #808080;
	border-radius: 4px;
}

.atributions {
	height: auto;
	width: auto;
	font-size: 14px;
	background: white;
	border-radius: 12px;
	padding: 12px;
	margin-left: 2%;
	position: absolute;
	align-self: flex-start;
}

.atributions-title {
	margin-bottom: 10px;
}

.received {
	width: 60%;
	max-width: 600px;
	align-self: flex-start;
	background: #505050;
	color: white;
	border-radius: 18px;
	padding: 15px;
	margin-left: 30px;
	font-size: 18px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.sent {
	width: 60%;
	min-width: 224px;
	max-width: 296px;
	align-self: flex-end;
	background: #30498f;
	color: white;
	border-radius: 14.5px;
	padding: 12px;
	margin-right: 3vw;
	font-size: 17.5px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.sent.load {
	opacity: 0;
	animation: aparecer 0.5s forwards 0.5s;
}

@keyframes aparecer {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.blockImg {
	display: flex;
	flex-direction: column;
	row-gap: 2.5px;
}

.gridImg {
	display: grid;
	grid-template-columns: repeat(2, minmax(92px, 136px));
	grid-template-rows: repeat(2, 18vh);
	grid-column-gap: 2.5px;
	grid-row-gap: 2.5px;
}

.buttImg {
	width: 100%;
	background: #30498f;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0;
}

.lastButtImg {
	widows: 100%;
	background: #30498f;
	opacity: 0.7;
	position: relative;
	border: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-content: center;
	line-height: 0;
}

.seeMore {
	position: absolute;
	height: 48px;
	width: 48px;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}

.buttImg img, .lastButtImg .lastImg {
	width: 100%;
	height: 100%;
	border-radius: 6.5px;
	object-fit: cover;
	object-position: center;
}

.buttImg:hover, .lastButtImg:hover {
	cursor: pointer;
}

.content {
	padding-right: 20%;
	word-break: break-word;
	margin-top: 5.6px;
}

.edition {
	position: absolute;
	right: 12px;
	top: 12px;
	display: flex;
	row-gap: 4px;
}

.modify, .delete {
	height: 24px;
	width: 24px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background 0.4s ease;
}

.edit:hover .modify, .edit:hover .delete {
	background: #606060;
	cursor: pointer;
}

.back {
	visibility: visible;
	height: 24px;
	width: 24px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #404040;
	display: flex;
	align-items: center;
	justify-content: center;
}

.back:hover {
	cursor: pointer;
}

.modify img, .delete img, .back img {
	height: 16px;
	width: 16px;
}

.delete {
	position: relative;
}

.delete img {
	position: absolute;
	left: 5.5px;
}

.modifyBox {
	width: 100%;
	border: none;
	outline: none;
	margin-top: 5.6px;
	display: flex;
	align-items: center;
	column-gap: 8px;
}

.modifyContent {
	width: auto;
	max-width: 80%;
	word-break: break-word;
}

.okey {
	height: 28px;
	width: 28px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #209cff;
	padding: 4px;
	justify-self: flex-start;
	transition: background 0.4s ease;
}

.okey:hover {
	background: #46b8f9;
	cursor: pointer;
}

.clock {
	display: flex;
	position: absolute;
	bottom: 1px;
	right: 12px;
	font-size: 13px;
}


.modalDoc, .modalImg {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: rgba(96, 96, 96, 0.6);
	position: absolute;
	top: 0px;
	bottom: 0px;
	z-index: 999;
	display: flex;
	align-items: center;
}

.readDoc, .readImg {
	width: 100%;
	background: #303030;	
	display: flex;
	justify-content: center;
}

.boxImge {
	width: 50%;
	max-height: 800px;
	min-width: 280px;
	display: flex;
	justify-content: center;
}

.boxImge img {
	max-width: 100%;
	object-fit: cover;
}

.quit {
	position: absolute;
	right: 9.5px;
	top: 9.5px;
	opacity: 1;
	transition: opacity 0.4s ease;
}
.quit img {
	width: 12px;
	height: 12px;
}

.quit:hover {
	opacity: 0.75;
	cursor: pointer;
}

.messenger {
	min-height: 54px;
	width: 100%;
	display: flex;
	align-items: center;
	column-gap: 10px;
	background: #3855a7;
	padding: 3px 20px 3px 10px;
	border-top: 3px solid  black;

}

.messenger.two {
	background: #303030;
	border-top: 4px solid  #303030;
}

.emoticons {
	height: 32px;
	flex-basis: 6%;
	min-width: 32px;
	max-width: 36px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #3855a7;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease;
}

.emoticons img {
	height: 20px;
	width: 20px;
}

.emoticons:hover {
	background: #5875c7;
	cursor: pointer;
}

.emoticons.two {
	background: #303030;		
}

.emoticons.two:hover {
	background: #505050;	
}

.emojisDiv {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: transparent;
	position: absolute;
	bottom: 54px;
	z-index: 999;
	display: flex;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s ease;
}

.emojisDiv.active {
	opacity: 1;
	visibility: visible;
}

.emojisBox {
	width: 100%;
	max-width: 880px;
	background: #303030;
	border-radius: 10px;
	position: relative;
}

.emojisTypes {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
	background: rgb(64, 64, 64);
	display: flex;
}

.div1, .div2, .div3, .div4, .div5 {
	width: 25%;
	height: 36px;
}

.div1:hover, .div2:hover, .div3:hover, .div4:hover, .div5:hover {
	width: 25%;
	height: 36px;
	cursor: pointer;
}

.group1, .group2, .group3, .group4, .group5 {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.group1:hover, .group2:hover, .group3:hover, .group4:hover, .group5:hover {
	cursor: pointer;
}

.div1, .group1 {
	border-radius: 10px 0px 0px 0px;
}

.div5, .group5 {
	border-radius: 0px 10px 0px 0px;
}

.emojis {
	max-height: 240px;
	padding: 5.5px 0px 5.5px 9.2px;
	overflow-y: auto;
	display: flex;
	flex-wrap: wrap;
	row-gap: 5.5px;
	column-gap: 5.5px;
}

.emoji {
	height: 24px;
	width: 24px;
	font-size: 24px;
	background: #303030;
	outline: none;
	border: none;
	border-radius: 100%;
	transition: background 0.4s ease;
}

.emoji:hover {
	background: #9f9f9f;
	cursor: pointer;
}

.exitit {
	position: absolute;
	right: 5.5px;
	top: 5.5px;
	opacity: 1;
	transition: opacity 0.4s ease;
}
.exitit img {
	width: 9.5px;
	height: 9.5px;
}

.exitit:hover {
	cursor: pointer;
	opacity: 0.75;
}

.emojis::-webkit-scrollbar {
	width: 8px;
	background: #707070;
}

.emojis::-webkit-scrollbar-track {
	background: #202020;
	border-radius: 4px;
}

.emojis::-webkit-scrollbar-thumb {
	background: #606060;
	border-radius: 4px;
}

.emojis::-webkit-scrollbar-thumb:hover {
	background: #808080;
	border-radius: 4px;
}

.messageBox {
	height: auto;
	width: 100%;
	background: #dfdfdf;
	border-radius: 8px;
}

.message {
	height: 100%;
	width: 100%;
	resize: none;
	border: none;
	outline: none;
	padding: 4px;
	margin-right: 10px;
	background: #dfdfdf;
	border-radius: 8px;
	color: #606060;
	font-size: 17px;
	overflow: hidden;
	word-break: break-word;
}

.textarea::placeholder {
	font-size: 18px;
}

.message::-webkit-scrollbar {
	width: 3px;
	background: #dfdfdf;
}

.message::-webkit-scrollbar-thumb {
	background: #606060;
	border-radius: 4px;
}

.message::-webkit-scrollbar-thumb:hover {
	background: #808080;
	border-radius: 4px;
}

.attach {
	height: 32px;
	flex-basis: 6%;
	min-width: 32px;
	max-width: 36px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #3855a7;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease;
}

.attach img {
	height: 22px;
	width: 22px;
}

.attach:hover {
	background: #5875c7;
	cursor: pointer;
}

.addMore {
	height: 32px;
	flex-basis: 6%;
	min-width: 32px;
	max-width: 36px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #303030;
	margin: auto 0px;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.addMore img {
	height: 28px;
	width: 28px;
}

.addMore:hover {
	background: #505050;
}

.send {
	height: 40px;
	flex-basis: 8%;
	min-width: 40px;
	max-width: 44px;
	border: none;
	outline: none;
	border-radius: 100%;
	background: #209cff;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease;
}

.send img {
	height: 32px;
	width: 32px;
	object-fit: cover;
	object-position: left;
	position: relative;
	left: 3px;
}

.send:hover {
	background: #46b8f9;
	cursor: pointer;
}

.boxMenu {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: transparent;
	position: absolute;
	bottom: 54px;
	z-index: 999;
	display: flex;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity .5s ease;
}

.boxMenu.active {
	opacity: 1;
	visibility: visible;
}

.menu {
	width: 70%;
	max-width: 240px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-row-gap: 16px;
	grid-column-gap: 16px;
	align-items: center;
	padding: 16px;
	border-radius: 14.5px;
	background: #303030;
	position: relative;
}

.item {
	min-width: 72px;
	max-width: 96px;
	border-radius: 100%;
	padding: 12px;
	background: #209cff;
	transition: background 0.4s ease;
}

.document, .camara {
	justify-self: center;
}

.gallery, .ubication {
	justify-self: center; 
}

.document:hover, .camara:hover, .gallery:hover, .ubication:hover {
	background: #46b8f9;
}

.exit {
	position: absolute;
	right: 9.5px;
	top: 9.5px;
	opacity: 1;
	transition: opacity 0.4s ease;
}
.exit img {
	width: 12px;
	height: 12px;
}

.exit:hover {
	cursor: pointer;
	opacity: 0.75;
}

.modalPrevisual {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: rgba(96, 96, 96, 0.6);
	position: absolute;
	top: 0px;
	bottom: 54px;
	display: flex;
	align-items: flex-end;
}

.boxPrevisual {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: #303030;
	padding: 12px 0px 0px 0px;
	position: relative;
	display: flex;
	justify-content: center;
	column-gap: 12px;
}

.boxImg {
	height: 100%;
	width: 50%;
	max-height: 300px;
	max-width: 400px;
}

.boxImg img {
	height: 100%;
	width: 100%;
	object-position: center;
	object-fit: cover;
}

.buttons {
	width: 24px;
	height: 24px;
	position: absolute;
	opacity: 1;
	transition: opacity 0.4s ease;
}

.buttons:hover {
	cursor: pointer;
	opacity: 0.75;
}

.previous {
	left: 1%;
	top: 50%;
}

.next {
	right: 1%;
	top: 50%;
}

.modalVideo {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: rgba(96, 96, 96, 0.6);
	position: absolute;
	top: 0px;
	bottom: 54px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.boxVideo {	
	width: 100%;
	min-width: 280px;
	max-width: 760px;
	position: relative;
	top: 5vh;
	display: flex;
	justify-content: center;
}

.boxVideo video {
	width: 100%;
}

.controls {
	width: 72px;
	height: 72px;
	position: absolute;
	left: 50%;
	bottom: 8%;
	margin-left: -36px;
	display: flex;
}

.screenshot {
	width: 100%;
	height: 100%;
	border-radius: 100%;
	border: 1.5px solid white;
	background: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.4s ease;
}

.screenshot img {
	width: 40px;
	height: 40px;
}

.screenshot:hover{
	background: #3855a7;
}

.boxImgCaptured {
	width: 100%;
	padding-left: 16px;
	padding-top: 16px;
	position: absolute;
	display: flex;
}

.imgCaptured {
	width: 20%;
	min-width: 72px;
	max-width: 104px;
	border: 2px solid white;
}

.quitit {
	position: absolute;
	right: 8px;
	top: 8px;
	opacity: 1;
	transition: opacity 0.4s ease;
	z-index: 20;
}

.quitit img {
	width: 12px;
	height: 12px;
}

.quitit:hover {
	cursor: pointer;
	opacity: 0.75;
}

.modalMap {
	width: 100%;
	min-width: 280px;
	max-width: 1200px;
	background: rgba(96, 96, 96, 0.6);
	position: absolute;
	top: 0px;
	bottom: 54px;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.boxMap {
	height: 70%;
	width: 100%;
	max-width: 960px;
}

.position {
	text-decoration: none;
	color: white;
	transition: color 0.4s ease;
}

.position:hover {
	color: lightgrey;
}

@media screen and (min-width: 768px) {
	.container {
		width: 80vw;
	}
}